.maincard {}

.imageContainer {
    width: 100%;
    image-rendering: pixelated;
}

.title {
    text-align: center;
}

.subTitle {
    text-align: center;
}

/* label color */

.input-field label {
    color: rgb(93, 27, 27) ;
}

/* label focus color */

.input-field input[type=number]:focus+label {
    color: #000 !important;
}

/* label underline focus color */

.input-field input[type=number]:focus {
    border-bottom: 1px solid rgb(33, 150, 243) !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

/* valid color */

.input-field input[type=number].valid {
    border-bottom: 1px solid rgb(173, 130, 130) !important;
    box-shadow: 0 1px 0 0 rgb(33, 150, 243) !important;
}

/* invalid color */

.input-field input[type=number].invalid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #000 !important;
}